h1 {
  color: #f9512e;
  text-align: center;
  letter-spacing: -.05em;
  text-transform: uppercase;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 85%;
}

@media (width >= 640px) {
  h1 {
    font-size: 68px;
  }
}

@media (width >= 768px) {
  h1 {
    font-size: 80px;
  }
}

@media (width >= 1024px) {
  h1 {
    font-size: 110px;
  }
}

@media (width >= 1200px) {
  h1 {
    font-size: 144px;
  }
}

h2 {
  color: #f9512e;
  text-align: left;
  letter-spacing: -.05em;
  text-transform: uppercase;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 85%;
}

@media (width >= 640px) {
  h2 {
    font-size: 56px;
  }
}

@media (width >= 1024px) {
  h2 {
    font-size: 72px;
  }
}

.page {
  scroll-behavior: smooth;
}

.page__header {
  margin-bottom: 64px;
}

.page__body {
  background: #ffeefc;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.page__body--menu--open {
  overflow: hidden;
}

.page__aside {
  background: #ffeefc;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  transition: transform .3s;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transform: translateX(-100%);
}

.page__aside:target {
  transform: translateX(0);
}

.page__main {
  letter-spacing: -.01em;
  color: #1c1a26;
  margin-inline: 16px;
  font-size: 16px;
  line-height: 24px;
}

@media (width >= 640px) {
  .page__main {
    margin-inline: 44px;
  }
}

@media (width >= 1200px) {
  .page__main {
    max-width: 1192px;
    margin-inline: auto;
  }
}

.page__products {
  margin-bottom: 72px;
}

@media (width >= 640px) {
  .page__products {
    margin-bottom: 152px;
  }
}

.page__about-us {
  position: relative;
}

.header__content {
  margin-top: 32px;
  margin-bottom: 40px;
  --count-columns: 2;
  grid-template-columns: repeat(var(--count-columns), 1fr);
  column-gap: 16px;
  margin-inline: 16px;
  display: grid;
}

@media (width >= 640px) {
  .header__content {
    margin-inline: 44px;
  }
}

@media (width >= 1200px) {
  .header__content {
    max-width: 1192px;
    margin-inline: auto;
  }
}

@media (width >= 640px) {
  .header__content {
    margin-top: 80px;
    margin-bottom: 228px;
  }
}

@media (width >= 1024px) {
  .header__content {
    margin-top: 0;
    margin-bottom: 66px;
  }

  .header__content:hover .header__image {
    transform: scale(1.1);
  }
}

@media (width >= 1200px) {
  .header__content {
    margin-top: 0;
    margin-bottom: 26px;
  }
}

@media (width >= 640px) {
  .header__content {
    --count-columns: 8;
    column-gap: 24px;
  }
}

.header__text {
  text-align: center;
  letter-spacing: -.01em;
  grid-column: span 2;
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 24px;
}

@media (width >= 640px) {
  .header__text {
    text-align: left;
    grid-column: span 4;
    margin-bottom: 16px;
  }
}

@media (width >= 1024px) {
  .header__text {
    grid-area: 1 / 1 / 2 / 3;
    margin-top: 135px;
    margin-bottom: 8px;
  }
}

@media (width >= 1200px) {
  .header__text {
    grid-column: 1 / 3;
    margin-top: 144px;
    margin-bottom: 40px;
  }
}

.header__title {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .header__title {
    grid-row: 2 / 3;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
}

@media (width >= 1024px) {
  .header__title {
    grid-row: 2 / 3;
    height: 116px;
  }
}

.header__image {
  grid-column: 1 / -1;
  width: 100%;
  transition: transform .3s;
}

@media (width >= 640px) {
  .header__image {
    z-index: -1;
    grid-area: 2 / 3 / 3 / -3;
  }
}

@media (width >= 1024px) {
  .header__image {
    grid-area: 1 / 3 / 5 / -3;
  }
}

.header__button {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .header__button {
    grid-column: 3 / -3;
    margin-top: 80px;
  }
}

@media (width >= 1024px) {
  .header__button {
    grid-area: 3 / 1 / 4 / 3;
    margin-top: 64px;
  }
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  display: flex;
}

@media (width >= 1024px) {
  .top-bar {
    padding: 28px 32px;
  }
}

.top-bar__logo {
  width: 136px;
  transition: scale .3s;
}

.top-bar__logo:hover {
  scale: 1.1;
}

.top-bar__icon {
  width: 24px;
  height: 24px;
  transition: scale .3s;
}

.top-bar__icon:hover {
  scale: 1.2;
}

.top-bar__icon--menu {
  background-image: url("icon-menu.69d7cb06.svg");
}

.top-bar__icon--close {
  background-image: url("icon-close.76787d5c.svg");
}

@media (width >= 1024px) {
  .top-bar__icon {
    display: none;
  }
}

.top-bar__nav {
  display: none;
}

@media (width >= 1024px) {
  .top-bar__nav {
    display: block;
  }
}

.aside__top-bar {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
}

.button {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #f9512e;
  border: 2px solid #f9512e;
  border-radius: 28px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  display: flex;
}

.button:hover {
  color: #fff;
  background-color: #f9512e;
}

.button:focus {
  color: #fff;
  background-color: #b2341a;
  border: none;
  outline: none;
}

.button__icon {
  background-image: url("icon-cookie.75fa6f27.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.button:hover .button__icon, .button:focus .button__icon {
  background-image: url("icon-cookie-white.7f15c396.png");
}

.nav__list {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (width >= 1024px) {
  .nav__list {
    flex-direction: row;
    gap: 64px;
  }
}

.nav__list--footer {
  color: #7f8096;
  align-items: start;
  gap: 16px;
  font-size: 16px;
  line-height: 100%;
}

@media (width >= 1024px) {
  .nav__list--footer {
    flex-direction: column;
  }
}

.nav__list-name {
  text-transform: uppercase;
  margin: 0;
}

.nav__item {
  transition: scale .3s;
}

.nav__item:hover {
  scale: 1.15;
}

.nav__link {
  letter-spacing: -.01em;
  color: #1c1a26;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.nav__link--tel {
  text-transform: uppercase;
  color: #f9512e;
  align-items: center;
  font-weight: 500;
  display: flex;
}

.nav__link--footer {
  color: #fff;
}

.nav__icon {
  margin-right: 4px;
}

.products {
  --count-columns: 2;
  grid-template-columns: repeat(var(--count-columns), 1fr);
  gap: 56px 16px;
  display: grid;
}

@media (width >= 640px) {
  .products {
    --count-columns: 8;
    gap: 80px 24px;
  }
}

.products__wrapper {
  grid-column: 1 / -1;
}

.products__title {
  margin-bottom: 24px;
}

.products__text {
  margin: 0;
}

.product {
  flex-direction: column;
  grid-column: 1 / -1;
  display: flex;
}

@media (width >= 640px) {
  .product {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .product {
    grid-column: span 3;
  }

  .product--right {
    grid-column: 3 / 6;
  }
}

.product__image {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
  transition: scale .3s;
}

.product__image:hover {
  scale: 1.05;
}

.product__category {
  text-transform: uppercase;
  color: #7f8096;
  text-decoration: none;
}

.product__description {
  margin: 8px 0 16px;
}

.product__order {
  text-transform: uppercase;
  color: #f9512e;
  letter-spacing: .02em;
  column-gap: 4px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.about-us {
  --count-columns: 2;
  grid-template-columns: repeat(var(--count-columns), 1fr);
  gap: 64px 16px;
  padding-bottom: 72px;
  display: grid;
}

@media (width >= 640px) {
  .about-us {
    --count-columns: 8;
    gap: 72px 24px;
    padding-bottom: 152px;
  }
}

@media (width >= 1024px) {
  .about-us {
    row-gap: 144px;
    padding-bottom: 56px;
  }
}

.about-us__top {
  --count-columns: 2;
  grid-column: 1 / -1;
  grid-template-columns: repeat(var(--count-columns), 1fr);
  column-gap: 16px;
  display: grid;
}

@media (width >= 640px) {
  .about-us__top {
    --count-columns: 8;
    grid-row: 1 / 2;
    column-gap: 24px;
  }
}

.about-us__title {
  grid-column: span 2;
  margin-bottom: 32px;
}

@media (width >= 640px) {
  .about-us__title {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .about-us__title {
    margin-bottom: 0;
  }
}

.about-us__description {
  grid-column: span 2;
  margin: 0;
}

@media (width >= 640px) {
  .about-us__description {
    grid-column: span 4;
  }
}

.about-us__statistic {
  --count-columns: 2;
  grid-column: 1 / -1;
  grid-template-columns: repeat(var(--count-columns), 1fr);
  flex-direction: column;
  gap: 48px 16px;
  display: grid;
}

@media (width >= 640px) {
  .about-us__statistic {
    --count-columns: 8;
    grid-row: 2 / 3;
    gap: 80px 24px;
  }
}

.about-us__stat {
  grid-column: span 2;
}

@media (width >= 640px) {
  .about-us__stat {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .about-us__stat {
    grid-column: span 2;
  }
}

.about-us__numeric {
  letter-spacing: -.05em;
  color: #f9512e;
  margin: 0 0 8px;
  font-size: 96px;
  line-height: 85%;
  display: block;
}

.about-us__indicator {
  margin: 0;
}

.about-us__wrapper {
  z-index: -1;
  position: absolute;
  bottom: 20%;
  left: -16px;
  right: -16px;
}

@media (width >= 640px) {
  .about-us__wrapper {
    grid-area: 1 / 2 / 3 / -2;
    align-items: center;
    display: flex;
    position: static;
  }
}

@media (width >= 1024px) {
  .about-us__wrapper {
    grid-area: 1 / 3 / 4 / -2;
  }
}

@media (width >= 1200px) {
  .about-us__wrapper {
    grid-area: 1 / 3 / 4 / -3;
  }
}

.about-us__crumbs {
  width: 100%;
}

.footer {
  background-color: #1c1a26;
}

.footer__content {
  --count-columns: 2;
  grid-template-columns: repeat(var(--count-columns), 1fr);
  column-gap: 16px;
  margin-inline: 16px;
  padding: 56px 0;
  display: grid;
}

@media (width >= 640px) {
  .footer__content {
    margin-inline: 44px;
  }
}

@media (width >= 1200px) {
  .footer__content {
    max-width: 1192px;
    margin-inline: auto;
  }
}

@media (width >= 640px) {
  .footer__content {
    --count-columns: 8;
    column-gap: 24px;
    padding: 88px 0;
  }
}

.footer__link {
  grid-column: span 2;
}

@media (width >= 640px) {
  .footer__link {
    grid-area: 1 / 1 / 5 / 5;
  }
}

.footer__logo {
  width: 168px;
  margin-bottom: 40px;
  transition: scale .3s;
}

.footer__logo:hover {
  scale: 1.1;
}

.footer__menu {
  grid-column: span 2;
  margin-bottom: 64px;
}

@media (width >= 640px) {
  .footer__menu {
    grid-column: 1 / 5;
  }
}

@media (width >= 1024px) {
  .footer__menu {
    margin-bottom: 48px;
  }
}

.footer__contacts {
  grid-column: span 2;
  margin-bottom: 40px;
}

@media (width >= 640px) {
  .footer__contacts {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .footer__contacts {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    display: grid;
  }
}

.footer__contact-us {
  letter-spacing: -.05em;
  color: #fff;
  text-transform: uppercase;
  grid-column: span 2;
  margin: 0 0 40px;
  font-size: 48px;
  font-weight: 400;
  line-height: 85%;
}

@media (width >= 640px) {
  .footer__contact-us {
    grid-area: 1 / 5 / 2 / -1;
  }
}

.footer__numbers {
  margin-bottom: 40px;
}

@media (width >= 1024px) {
  .footer__numbers, .footer__email {
    grid-area: 1 / span 2 / -1;
  }
}

.footer__social {
  grid-column: span 2;
  gap: 32px;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 640px) {
  .footer__social {
    grid-column: span 4;
  }
}

.footer__icon {
  width: 24px;
  height: 24px;
  transition: scale .3s;
}

.footer__icon:hover {
  scale: 1.1;
}

.footer__icon--facebook {
  background-image: url("icon-facebook.46bb32f1.svg");
}

.footer__icon--facebook:hover {
  background-image: url("icon-facebook-hover.b37d6857.svg");
}

.footer__icon--insta {
  background-image: url("icon-instagram.02e5669b.svg");
}

.footer__icon--insta:hover {
  background-image: url("icon-instagram-hover.c727a662.svg");
}

.footer__icon--twitter {
  background-image: url("icon-twitter.c0389b2d.svg");
}

.footer__icon--twitter:hover {
  background-image: url("icon-twitter-hover.dd1b0b35.svg");
}

.footer__copiright {
  font: inherit;
  letter-spacing: -.01em;
  color: #7f8096;
  grid-column: span 2;
  line-height: 150%;
}

@media (width >= 640px) {
  .footer__copiright {
    grid-column: span 4;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
